<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gokhanagingil.renk" android:versionCode="70" android:versionName="0.7.0">
 <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35"/>
 <application android:label="Renk Durağı" android:icon="@drawable/ic_launcher" android:roundIcon="@drawable/ic_launcher" android:theme="@style/AppTheme" android:allowBackup="true" android:fullBackupContent="@xml/backup_rules" android:dataExtractionRules="@xml/data_extraction_rules" android:debuggable="false" android:usesCleartextTraffic="false" android:enableOnBackInvokedCallback="false" android:supportsRtl="true">
  <activity android:name=".MainActivity" android:exported="true" android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
  </activity>
 </application>
</manifest>
